body {
  width: 90%;
  margin:auto;
}

.hideButton {
  display: none;
}

#oddDuckItemsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#oddDuckItemsContainer img {
  width: 28%;
}